<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- link STYLE CSS-->
    <link rel="stylesheet" href="./style.css">

    <!-- link VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>


    <title>Hello Vue & API</title>
</head>
<body>
    <div id="app">
        <div class="search">
            <input type="text" 
                v-model="query" 
                placeholder="Cerca un film o una serie TV"
                @keyup.enter="search"
            >
            <button @click="search">Search</button>
        </div>

        <div class="container-film">
            <div v-for="risultato in risultati" class="film">
                <ul>
                    <li>
                        <span>Titolo:</span>
                        <span v-if="risultato.title">{{risultato.title}}</span>
                        <span v-if="risultato.name">{{risultato.name}}</span>
                    </li>
                    <li>
                        <span>Titolo Originale:</span>
                        <span v-if="risultato.original_title">{{risultato.original_title}}</span>
                        <span v-if="risultato.original_name">{{risultato.original_name}}</span>
                    </li>
                    <li>
                        <span>Voto:</span>
                        <i v-for="n in getVote(risultato.vote_average)" 
                            class="fas fa-star">
                        </i>
                        <i v-for="n in 5 - getVote(risultato.vote_average)" 
                            class="far fa-star">
                        </i>
                    </li>

                    <li>
                        <span>Lingua:</span>
                        <img v-if="isLangFlag(risultato.original_language)" 
                            class="flag" 
                            :src="getFlag(risultato.original_language)" 
                            :alt="risultato.original_language"
                        >
                        <span v-else>
                            {{risultato.original_language}}
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>



    <!-- link AXIOS (da github) per le chiamate API-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- link JS -->
    <script src="./main.js"></script>
</body>
</html>